.chat-btn {
  position: fixed;
  bottom: 2rem;
  right: 2.75rem;
  z-index: 15;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  border: none;
  background: url(../assets/chat.svg) no-repeat;
  background-size: contain;
  cursor: pointer;
}

.chat-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.chat {
  position: fixed;
  bottom: 9rem;
  right: 2.75rem;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 60vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: 2s show ease;
  z-index: 16;

  &__header {
    padding: 16px;
    background-color: $bg-green-80;
    color: white;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-radius: 8px 8px 0 0;
  }

  &__body {
    flex: 1;
    padding: 16px;
    background: $bg-gray-173;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__body::-webkit-scrollbar {
    display: none;
  }

  &__footer {
    padding: 16px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
  }
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}


