* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: $bg-html;
  font-size: calc(100vw * 16 / 1440);

  @media (max-width: 750px) {
    font-size: calc(100vw * 16 / 375);
  }
}

body {
  font-family: 'HelveticaNeueCyr', sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.content {
  flex: 1 0 auto;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 77.5rem;
  margin: 0 auto;

  @media (max-width: 750px) {
    width: 21.8125rem;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $bg-gray-100;
  z-index: 10;
  display: block;
  opacity: 1;
  transition: opacity 2s;
}

