* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: $bg-html;
  font-size: calc(100vw * 16 / 1440);
}

body {
  font-family: 'HelveticaNeueCyr', sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.content {
  flex: 1 0 auto;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: 'SF Pro Display', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: 'SF Pro Display', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

h4 {
  color: $bg-green-80;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

h5 {
  color: $bg-green-80;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 84.5rem;
  margin: 0 auto;

  @media (max-width: 750px) {
    width: 21.8125rem;
  }
}

.link-active {
  border-radius: 0.625rem;
  background: rgba(0, 0, 0, 0.15);
}

.modal-default {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  //transition: opacity 2s;
  //opacity: 0.1;
}


