.list-vzn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 38px;
  }

  &__header-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  &__header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 73px;
    height: 21px;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    border-radius: 100px;
    border: none;
    background: $primary-400;
    cursor: pointer;
  }

  &__header-btn:hover,
  &__header-btn:focus-visible {
    filter: brightness(1.25);
    transition: filter .2s;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 379px;
    margin-top: 4px;
    border: 1px solid $outline-gray-900;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__block-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 4px;
    border-bottom: 0.2px solid $outline-gray-900;
  }

  &__block-item:last-child {
    border: none;
  }

  &__block-item p {
    color: $text-black-200;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.25px;
    text-align: left;
  }

  &__block-item p span {
    font-weight: 500;
  }
}

.list-vzn__block::-webkit-scrollbar {
  width: 0;
}
