.management {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  max-width: 90rem;
  min-height: calc(100vh - 10rem);
  padding-top: 2.5rem;

  & .container {
    width: 100%;
  }

  &__btn-add-user {
    display: flex;
    align-self: end;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-bottom: 1rem;
    padding: 1.13rem 3rem 1.13rem 3rem;
    color: rgb(255, 255, 255);
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    border-radius: 5rem;
    background: rgb(197, 138, 70);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }

  &__btn-add-user:hover {
    filter: brightness(1.25);
    transition: filter .2s;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 4rem;
    margin-bottom: 0.375rem;
    padding-left: 1rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    -moz-border-radius-topleft: 1.25rem;
    -moz-border-radius-topright: 1.25rem;
    background: $white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  &__header-item {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.5rem;
    font-weight: 600;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap: 0.375rem;
    width: 100%;
    margin-bottom: 3rem;

    opacity: 0;
    transition: opacity 2s ease-in-out;
  }

  &__show {
    opacity: 1;
  }

  &__list .management__row:last-child {
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    -moz-border-radius-bottomleft: 1.25rem;
    -moz-border-radius-bottomright: 1.25rem;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 5.5rem;
    padding-left: 1rem;
    background: $white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  &__row-item {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.5rem;
  }

  &__header-item:nth-child(4),
  &__header-item:nth-child(5),
  &__row-item:nth-child(4),
  &__row-item:nth-child(5) {
    justify-content: center;
  }

  &__row-img-edit,
  &__row-img-remove {
    position: relative;
    width: 3.35rem;
    height: 3.35rem;
    border-radius: 3.25rem;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  &__row-img-edit::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.1rem;
    height: 2.1rem;
    background: url(../assets/user_management/edit_2.png) no-repeat;
    background-size: contain;
  }

  &__row-img-remove::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    background: url(../assets/user_management/delete_2.png) no-repeat;
    background-size: contain;
  }

  &__row-img-edit:hover,
  &__row-img-edit:focus-visible,
  &__row-img-remove:hover,
  &__row-img-remove:focus-visible {
    background: $bg-gray-100;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}







