$black: #000;
$white: #FFFFFF;

$primary-400: #2D609B;
$primary-500: #4680B0;
$primary-100: #2D609B;

$success-100: #D1FADF;
$success-500: #FFFFFF;

$bg-html: rgb(245, 245, 245);
$bg-green-80: rgb(80, 115, 95);
$bg-gray-900: rgba(121, 116, 126, 0.5);
$bg-brown-197: rgb(197, 138, 70);
$bg-gray-173: rgba(173, 187, 196, 0.7);
$bg-gray-100: #F2F2F2;
$user: rgb(252, 192, 191);
$server: rgb(199, 232, 227);


$outline-gray-300-light: #D3D3D3;
$outline-gray-300-icons: #C4CDD5;
$outline-gray-400: #BCBABF;


$text-black-300: #333333;
$text-black-200: #49454F;

$accent: #7EBBED;



