$black: #000;
$white: #FFFFFF;

$primary-400: #2D609B;
$primary-500: #4680B0;
$primary-100: #2D609B;

$success-100: #D1FADF;
$success-500: #FFFFFF;

$bg-gray-100: #F2F2F2;
$bg-gray-200: #F7F2FA;
$bg-gray-500: #DCD8E0;
$bg-blue-100: #BAD0E2;

$outline-gray-300-light: #D3D3D3;
$outline-gray-300-icons: #C4CDD5;
$outline-gray-400: #BCBABF;
$outline-gray-900: #79747E;

$text-black-300: #333333;
$text-black-200: #49454F;

$accent: #7EBBED;



